﻿<h2>Appointment View</h2>
	 <table class="table-hover col-md-10">
	   <tr class="row">
	  <th class="col-md-2 strong">Schduled By</th> <th class="col-md-2">With Whom</th> <th class="col-md-2">Date</th> <th class="col-md-2">Time</th> <th class="col-md-3">Timezone</th>
	  </tr>
	  <tr  class="row" *ngFor="let appointment of appointments">
	 <td class="col-md-2 text-left">{{appointment.appointmentProvider}}</td> <td class="col-md-2 text-left">{{appointment.appointmentSeeker}}</td> <td class="col-md-2 text-left">{{appointment.appointmentDate}}</td> <td class="col-md-2 text-left">{{appointment.appointmentTime}}</td> <td class="col-md-3 text-left">{{appointment.appointmentTimezone}}</td>
	 </tr>
	 <tr class="row"><a [routerLink]="['/home']">Back</a></tr>

	</table>
