﻿<h3>Welcome {{currentUser.firstName}}!</h3>

<p><a [routerLink]="['/appointment']">Schedule Appointment</a>&nbsp;&nbsp;||&nbsp;&nbsp;<a [routerLink]="['/appointmentview']">View Appointment</a></p>

<h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
    </li>
</ul>
<p><a [routerLink]="['/login']">Logout</a></p>
